html, body{
    height: 100%;
    
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12pt;
    background-color:rgba(14, 31, 75, 0.904);
    background-image: url(woods.jpg);
    background-size:2144px 1200px;
    background-repeat: no-repeat;
   
}

h1, h2, h3, h4, h5{
    margin: 0;
    padding: 0;
    color: #ffffff;
}

p, ol, ul{
    margin: 0;
}

p{
    line-height: 180%;
}

ol, ul{
    margin-top: 0;
}

 
header{
    overflow: hidden;
}


#menu{
    float: right;
    width: 120%;
    height: 40%;
    margin: none;
    
}

#menu ul{
        text-align: center;
        float: right;
        margin: none;
        padding-right: 3%;
        
    }
       
    #menu li{
        display: inline-block;
        padding: none;
        margin: none;
    }



#menu li a, #menu li span{
    display: inline-block;
    padding: 1rem 1.2em;
    text-decoration: none;
    font-weight: 200;
    text-transform: uppercase;
    line-height: 30px;
    

}

#menu li a{
    color: #FFF;

}

#menu li:hover a, #menu lli span{
    background: #fff;
    color: rgba(14, 31, 75, 0.904);
    
    text-decoration: none;
}

#top-header{
    text-align:center;
    height:60px;
}



.child1{
    grid-area: header;
   
    
    
}

.child2{
    grid-area: icon;
    padding-left: 20%;
    padding-top: 10%;
    
    
}

.child3{
    grid-area: main;
    padding-top: 20%;
    padding-left: 18%;
    
}

.child4{
    grid-area: right;
    padding-top: 5%;
    padding-left: 15%;
    
     
}

.child5{
    grid-area: footer;
    position:absolute;
    bottom:0;
    left:0;
    right:0;

    display: inline-block;
    padding: 1rem 1.2em;
    line-height: 30px;
    padding-right: 20px;
    
    
    
    }

.grid-container{
    display: grid;
    grid-template-areas: 
    'icon header header header header'
    'main main main right right'
    'footer footer footer footer footer';
    gap: 10px;
    font-size: 28px;
    
}

i{
    padding: 15px;
}

.button {
    background-color: #250e88; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
  }

  .button {
    transition-duration: 0.4s;
  }
  
  .button:hover {
    background-color: white; /* Green */
    color:#250e88;
  }